<a href="https://colab.research.google.com/github/periclesrialto/IndustrialAutomation/blob/main/AlarmMatrix_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import math

In [52]:
df = pd.read_csv('Alarm_matrix.csv', header = None, sep=';')

In [47]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,NaN,NaN,NaN,Alarm Area:,Startup,NaN,NaN,NaN,Drying Under 180,NaN,...,NaN,NaN,Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Item,Component Code,Alarm Text,Alarm (ctrl+c ctrl+v),ALL,EMERGENCY,END,INTERRUPT,ALL,EMERGENCY,...,END,INTERRUPT,ALL,EMERGENCY,END,INTERRUPT,NaN,NaN,NaN,NaN
2,001,XYZ,TEXTO,AM001 - XYZ - TEXTO,EMERGENCY,1,0,0,INTERRUPT,0,...,0,0,EMERGENCY,1,0,0,NaN,NaN,NaN,NaN
3,002,XYZ,TEXTO,AM002 - XYZ - TEXTO,END,0,1,0,INTERRUPT,0,...,0,0,EMERGENCY,1,0,0,NaN,NaN,NaN,NaN
4,003,XYZ,TEXTO,AM003 - XYZ - TEXTO,END,0,1,0,INTERRUPT,0,...,0,0,EMERGENCY,1,0,0,NaN,NaN,NaN,NaN

In [53]:
alarm_category = ['Emergency','End','Interrupt']
machine_state = ['Startup','Drying Under 180','Drying Over 180','Roasting','Cooling','Transport']
column_names = []

for state in range(len(machine_state)):
  for category in range(len(alarm_category)):
    column_names.append(machine_state[state] + ' ' + alarm_category[category])

dwords = pd.DataFrame(columns=column_names)

for empty in range(math.ceil(len(df.index)/32)):
  dwords = dwords.append(pd.Series(), ignore_index=True)
dwords

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if sys.path[0] == '':

,Startup Emergency,Startup End,Startup Interrupt,Drying Under 180 Emergency,Drying Under 180 End,Drying Under 180 Interrupt,Drying Over 180 Emergency,Drying Over 180 End,Drying Over 180 Interrupt,Roasting Emergency,Roasting End,Roasting Interrupt,Cooling Emergency,Cooling End,Cooling Interrupt,Transport Emergency,Transport End,Transport Interrupt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
dwords_range = (math.ceil(len(df.index)/32))*len(alarm_category)*len(machine_state)
dwords_list = ["" for x in range(dwords_range)]

pointer = 0
row = 0

for column in range(len(df.columns)):
  if df[column][1] == 'ALL':
    for shift in range(1,4):
      for index in range(2,len(df.index)):
        dwords_list[pointer] += str(df[column+shift][index])
        row += 1
        if row==32 and pointer < len(dwords_list):
          pointer += 1
          row = 0
        if index == (len(df.index)-1):
          for complete in range(32-row):
            dwords_list[pointer] += str(0)
          if pointer < len(dwords_list):
            pointer += 1
            row = 0

for invert in range(len(dwords_list)):
  dwords_list[invert] += '#2'
  dwords_list[invert] = dwords_list[invert][::-1]
dwords_list

['2#11000000000000000000000101010001',
 '2#10000000000000000000000000000000',
 '2#10000000000000000000000000000001',
 '2#00000000000000000000000000000001',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00010101000000000000000000000000',
 '2#00111111111111111111111010101100',
 '2#01111111111111111111111111111111',
 '2#01111111111111111111111111111110',
 '2#11111111111111111111111111111110',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#00001010111111111111111111111111',
 '2#00000000000000000000000000000010',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#00011111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#00011111111111111111111111111111',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#10101010101010101010101010101011',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#10101010101010101010101010101010',
 '2#00001010101010101010101010101010',
 '2#01010101010101010101010101010100',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#01010101010101010101010101010101',
 '2#00010101010101010101010101010101',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#00011111111111111111111111111111',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#11111111111111111111111111111111',
 '2#00000011111111111111111111111111',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00000000000000000000000000000000',
 '2#00011100000000000000000000000000']

In [55]:
pointer = 0
for column in range(len(dwords.columns)):
  for index in range(len(dwords.index)):
    dwords.at[index,column_names[column]]=dwords_list[pointer]
    pointer += 1

In [38]:
dwords.at[1,column_names[1]]=dwords_list[0]

In [56]:
dwords

,Startup Emergency,Startup End,Startup Interrupt,Drying Under 180 Emergency,Drying Under 180 End,Drying Under 180 Interrupt,Drying Over 180 Emergency,Drying Over 180 End,Drying Over 180 Interrupt,Roasting Emergency,Roasting End,Roasting Interrupt,Cooling Emergency,Cooling End,Cooling Interrupt,Transport Emergency,Transport End,Transport Interrupt
0,2#11000000000000000000000101010001,2#00111111111111111111111010101100,2#00000000000000000000000000000010,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101011,2#01010101010101010101010101010100,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
1,2#10000000000000000000000000000000,2#01111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
2,2#10000000000000000000000000000001,2#01111111111111111111111111111110,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
3,2#00000000000000000000000000000001,2#11111111111111111111111111111110,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
4,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
5,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
6,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
7,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
8,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#10101010101010101010101010101010,2#01010101010101010101010101010101,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#11111111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000
9,2#00010101000000000000000000000000,2#00001010111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00011111111111111111111111111111,2#00011111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00001010101010101010101010101010,2#00010101010101010101010101010101,2#00000000000000000000000000000000,2#00011111111111111111111111111111,2#00000000000000000000000000000000,2#00000000000000000000000000000000,2#00000011111111111111111111111111,2#00000000000000000000000000000000,2#00011100000000000000000000000000